﻿@page "/"

@inject IJSRuntime JSRuntime
<PageTitle>Index</PageTitle>

<style>
    .board{
        background:#ccc;
    }
    .board .rows{
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .board .rows .columns{
        padding: 5px 10px;
        margin: 5px;
        background:red;
    }
    .board .rows .columns {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .board .rows .columns .square-points {
        width:25px;
        height:25px;
        border:1px solid orange;
        text-align: center;
        font-weight: bold;
    }
    .board .rows .columns .superior-points {
        display:flex;
        width:100%;
        flex-direction:row;
    }
    .board .rows .columns .inferior-total-points .total-points{
        width:25px;
        height:25px;
        border: 1px solid green;
    }


</style>

<h1>Contador de bolos</h1>

<div class="board">


    @foreach (var row in BoardItem.Rows)
    {
        <div class="rows row-@row.RowNumber">
            <div class="columns names">
                <input type="text">
            </div>

            @foreach(var column in row.Columns)
            {
                <div class="columns column-@column.ColumnNumber">

                    <div class="superior-points">
                    @foreach(var point in column.Points)
                    {
                        <input type="text" @onblur="@(e=>CalculateTotal(e, row,column, point))" class="square-points" @bind="point.PointValue" @key="point" />
                    }
                    </div>
                    <div class="inferior-total-points">
                        <div class="total-points">@column.Total</div>
                    </div>

                </div>
            }
            <div class="columns total">
                <div class="superior-points">
                    Total:
                </div>
                <div class="inferior-total-points">
                    @row.Total
                </div>
            </div>
            <button @onclick="@(e=>CalcularTotalColumns(e, row))">Calcular total</button>
        </div>
    }
</div>

@code{
    public Board BoardItem;

    protected override Task OnInitializedAsync()
    {
        BoardItem = new Board(5, 10);
        BoardItem.Generate();

        return base.OnInitializedAsync();
    }

    public void CalculateTotal(FocusEventArgs args, BoardRow row, BoardColumn column, BoardPoint point)
    {
        point.ValidationOrEmpty();
        column.Validation();
        column.ValidateTotal();

        BoardColumn.CalculateTotal(column);

    }
    public void CalcularTotalColumns(MouseEventArgs args, BoardRow row)
    {
        row.Total = row.Columns.Sum(c => c.Total.HasValue ? c.Total.Value : 0);
    }

}
